services:
  redis:
    image: docker.io/library/redis:latest
    container_name: redis_chakravyuha
    ports:
      - "6379:6379"
    volumes:
      - ./redis_data:/data
    restart: unless-stopped

networks:
  podman:
    external: true
